#row-top{
    height: 50vh ;
}

#row-mid{
    height: 20vh;
}

#row-bot{
    height: 30vh;
}

#uploadbutton{
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 400px;
    font-size: 20px;
}